body {
	font-family: "DejaVu Sans", "arial", "sans-serif";
	font-size: medium;
	background-color: #e7e7e7;
}

.title {
	font-family: "DejaVu Sans", "arial", "sans-serif";
	font-size: large;
	font-weight: bold;
	background-color: #101080;
	color: #ffffff;
	padding: 5px;
	text-align: center;
}

#button-div {
	background-color: #e0e0e0;
	text-align: center;
	height: 100px;
	top: 50%;
	left: 0;
	right: 0;
}

#display-div {
	background-color: #e0e0e0;
	height: 350px;
	text-align: center;
}

.control {
	background-color: #e0e0e0;
	font-size: large;
	width: 92px;
}

.setting {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.label-main {
	background-color: #108f10;
	color: #ffffe0;
	font-size: large;
	font-weight: bold;
	text-align: left;
	padding: 5px;
	min-width: 150px;
}

.value-main {
	background-color: #d0ffd0;
	color: #002000;
	font-size: large;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	min-width: 150px;
}

#FV-ctrl {
	font-size: small;
	text-align: center;
	font-style: italic;
}

.label-sub {
	background-color: #6f6f10;
	color: #ffffe0;
	font-size: small;
	text-align: left;
	padding: 2px;
}

.value-sub {
	background-color: #ffffc0;
	color: #002000;
	font-size: small;
	text-align: center;
	padding: 2px;
}
